<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>采购单列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all" />
    <script src="../config/config.js"></script>
    <link rel="stylesheet" href="../layui/layui.all.js" media="all" />
    <link rel="stylesheet" href="../js/jquery-3.4.1.js" media="all" />
    <link rel="stylesheet" href="../layui_ext/dtree/dtree.css" media="all" />
    <link rel="stylesheet" href="../layui_ext/dtree/font/dtreefont.css" media="all" />
    <style type="text/css">
        .select-test{position: absolute;max-height: 500px;height: 350px;overflow: auto;width: 100%;z-index: 123;display: none;border:1px solid silver;top: 42px;}
        .layui-show{display: block!important;}
    </style>
</head>
<body  class="childrenBody">
<!-- 查询条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<form class="layui-form" action="" id="searchFrm" method="post" lay-filter="searchFrm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">单号:</label>
            <div class="layui-input-inline">
                <input type="text" name="no" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">供应商</label>
            <div class="layui-input-inline">
                <select name="supplierId" id="supplierIdAdd" >
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">采购单名称:</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="status" lay-search="">
                    <option value="">直接选择</option>
                    <option value="-1">已作废</option>
                    <option value="0">待确认</option>
                    <option value="1">已确认</option>
                    <option value="2">已完成</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-inline">
                <button type="button" class="layui-btn" id="doSearch" >查询</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="doReload">清空</button>
            </div>
        </div>
    </div>
</form>
<!-- 查询条件结束 -->
<!-- 数据表格开始 -->
<table class="layui-hide" lay-filter="userTable" id="userTable"></table>

<div class="layui-hide" id="userToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm"  lay-event="addPurchase">添加采购单</button>
    </div>
</div>
<div class="layui-hide" id="userBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs"  lay-event="del">删除</a>
</div>

<!-- 添加和修改弹出层 -->
<div style="display: none; padding: 10px" id="addOrUpdateView">
    <form class="layui-form" action="" method="post" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">采购单名称</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="no">
                    <input type="text" name="name" id="name"
                           autocomplete="off" placeholder="请输入采购单名称" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">供应商</label>
                <div class="layui-input-inline">
                    <select name="supplierId" id="supplierId" >
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select name="purchaseType" lay-search="">
                        <option value="">直接选择</option>
                        <option value="1">经销</option>
                        <option value="2">代销</option>
                        <option value="3">联营</option>
                        <option value="4">包销</option>
                        <option value="5">对方发货</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">产品</label>
                <div class="layui-input-inline">
                    <select name="productNo" id="productNo" >
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">采购数量</label>
                <div class="layui-input-inline">
                    <input type="text" name="purchaseQuality" id="purchaseQuality"
                           autocomplete="off" placeholder="请输入采购数量" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">采购价格</label>
                <div class="layui-input-inline">
                    <input type="text" name="purchasePrice" id="purchasePrice"
                           autocomplete="off" placeholder="请输入采购价格" class="layui-input">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="doSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<!-- 数据表格结束 -->
<script type="text/javascript" src="../layui/layui.js"></script>
<script type="text/javascript" src="../layui_ext/dist/dtree.js"></script>

<script type="text/javascript">
    var tableIns;//提升作用域

    layui.config({
        base : "../layui_ext/dist/"
    }).extend({
        "dtree" : "dtree"
    })
    layui.use(["form","table","jquery","layer","dtree",'laydate'],function(){
        var table=layui.table;
        var form=layui.form;
        var $=layui.jquery;
        var layer=layui.layer;
        var laydate = layui.laydate;
        laydate.render({
            elem:"#hiredate"
        });
        tableIns=table.render({
            elem: '#userTable'
            ,url: dev+'plan/loadAllPurchaseForm'
            ,toolbar: '#userToolbar'
            ,page:true
            ,height:'full-130'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [ [
                {field:'no', width: 100, title: '采购单号' },
                {field:'name', width: 100, title: '名称' },
                {field:'contractNo', width:100, title: '合同编号'},
                {field:'supplierId', width:100, title: '供应商ID'},
                {field:'status', width:80, title: '状态'},
                {field:'productNo', title: '货品编号',width: 150},
                {field:'purchaseQuality', title: '采购数量', width: 100},
                {field:'qualifiedQuality', title: '合格数量', width: 100},
                {field:'storageQuality', title: '已入库数量', width: 100},
                {field:'purchasePrice', title: '采购价格', width: 100},
                {field:'createPerson', title: '记录生成人', width: 100},
                {field:'createDate', title: '记录生成时间', width: 100},
                {field:'updateDate', title: '更新时间', width: 100},
                {fixed: 'right', title:'操作',align:'center', toolbar: '#userBar', width:250}
            ] ]
            ,done:function(res, curr){
                var brforeCurr = curr; // 获得当前页码
                var dataLength = res.data.length; // 获得当前页的记录数
                var count = res.count; // 获得总记录数
                if(dataLength === 0 && count !== 0){ //如果当前页的记录数为0并且总记录数不为0
                    table.reload("userTable",{ // 刷新表格到上一页
                        page:{
                            curr:brforeCurr-1
                        }
                    });
                }
            }
        });
        //模糊查询
        $("#doSearch").click(function(){
            var params=$("#searchFrm").serialize();
            tableIns.reload({
                url:dev+'plan/loadAllPurchaseForm?'+params
            })
        });
        $("#doReload").click(function(){
            tableIns.reload({
                url:dev+'plan/loadAllPurchaseForm'
            })
        });
        //监听头工具行的事件
        table.on('toolbar(userTable)', function(obj){
            switch(obj.event){
                case 'addPurchase':
                    openAddUserView();
                    break;
            };
        });

        //监听行工具行的事件
        table.on('tool(userTable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent=obj.event;
            if(layEvent === 'del'){ //删除
                deleteUserById(data);
            } else if(layEvent === 'edit'){ //编辑
                openUpdateUserView(data);
            }
        });

        var mainIndex;
        var url;
        function openAddUserView(){
            mainIndex=layer.open({
                type:1,
                title:'添加采购单',
                content:$("#addOrUpdateView"),
                area:['400px','500px'],
                skin:'layui-layer-molv',
                maxmin:true,
                success:function(layero, index){
                    //清空表单
                    $("#dataFrm")[0].reset();
                    //移除下拉列表展开的样式
                    $("#accordionDeptid").removeClass("layui-show layui-anim layui-anim-upbit");
                    //加载最大的排序码
                    // $.get("/user/loadUserMaxOrderNum",function(obj){
                    //     $("#ordernum").val(obj.value);
                    // });
                    url=dev+"plan/addPurchaseForm";
                }
            })
        };

        //提交事件
        form.on('submit(doSubmit)',function(data){
            var params=$("#dataFrm").serialize();
            $.get(url,params,function(obj){
                // layer.msg(obj.msg);
                //关闭弹出层
                layer.close(mainIndex);
                //刷新数据表格
                tableIns.reload();
                //刷新左边的树
                window.parent.left.userTree.reload();
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //打开修改的弹出层
        function openUpdateUserView(data){
            mainIndex=layer.open({
                type:1,
                title:'修改用户',
                content:$("#addOrUpdateView"),
                area:['400px','500px'],
                skin:'layui-layer-molv',
                maxmin:true,
                success:function(layero, index){
                    //移除下拉列表展开的样式
                    $("#accordionDeptid").removeClass("layui-show layui-anim layui-anim-upbit");
                    form.val("dataFrm",data);
                    url=dev+"plan/updatePurchaseForm";
                }
            });
        };

        //删除采购单
        function  deleteUserById(data){
            layer.confirm('真的要删除【'+data.name+'】这个采购单么？', function(index){
                //向服务端发送删除指令
                $.get(dev+"plan/deletePurchaseForm",{no:data.no},function(reslult){
                    layer.msg(reslult.msg);
                    layer.close(index);
                    //刷新数据表格
                    tableIns.reload();
                })
            });
        };


        //初始化查询供应商的下拉列表
        $.get(dev+"/plan/supplier",function(obj){
            obj = obj.data;
            var providerId = $("#supplierId");
            var providerIdAdd =  $("#supplierIdAdd");
            var html="<option value=''>请选择供应商</option>";
            $.each(obj,function(index,item){
                html+="<option value="+item.id+">"+item.supplier+"</option>"
            });
            providerId.html(html);
            providerIdAdd.html(html);
            form.render("select");
        })


        //初始化查询产品的下拉列表
        $.get(dev+"/plan/material",function(obj){
            obj = obj.data;
            var providerId = $("#productNo");
            var html="<option value=''>请选择产品</option>";
            $.each(obj,function(index,item){
                html+="<option value="+item.id+">"+item.name+"</option>"
            });
            providerId.html(html);
            form.render("select");
        })



    });
    //刷新的方法
    function reloadTable(id){
        tableIns.reload({
            url:dev+'loadAllUser?deptid='+id,
            page:{
                curr:1
            }
        })
    }
</script>
</body>
</html>