<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pu.purchase.mapper.ExtSupplierScoreMapper">


    <select id="querySupplier" resultType="com.pu.purchase.dto.SupplierScoreDto" >
        SELECT
        a.*,
        b.supplier As supplierName,
        c.name AS materName
        FROM supplier_score a
        LEFT JOIN supplier b ON a.supplier_id = b.id
        LEFT JOIN material c ON a.material_id = c.id
        where 1=1
        <if test="materialId != null and materialId != ''">
            AND  a.material_id like  CONCAT('%',#{materialId},'%')
        </if>
        <if test="supplierName != null and supplierName != ''">
            AND  b.supplier like CONCAT('%',#{supplierName},'%')
        </if>
        <if test="materName != null and materName != ''">
            AND  c.name like  CONCAT('%',#{materName},'%')
        </if>
        ORDER BY a.create_time DESC
        LIMIT #{page},#{limit}
    </select>

    <select id="countNum" resultType="java.lang.Integer" >
        SELECT
        count(*)
        FROM supplier_score a
        LEFT JOIN supplier b ON a.supplier_id = b.id
        LEFT JOIN material c ON a.material_id = c.id
        where 1=1
        <if test="materialId != null and materialId != ''">
            AND  a.material_id like  CONCAT('%',#{materialId},'%')
        </if>
        <if test="supplierName != null and supplierName != ''">
            AND  b.supplier like CONCAT('%',#{supplierName},'%')
        </if>
        <if test="materName != null and materName != ''">
            AND  c.name like  CONCAT('%',#{materName},'%')
        </if>
    </select>

</mapper>
